@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.center {
    display: flex;
    justify-content: center;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}
